/* Media Queries */

/* Media queries can be used to check width and height of viewport, orientation(landscape or portrait) ,resolution */

/* CSS media types -- all , print (for print viewport) , screen (for computer tablet phones )*/
/* mediatype is optional.. if you use not or only, you must also specify a mediatype */
/* keywords */
/* not - inverts meadia query */
/* only has no effect on modern browsers */
/* and combine all features and mediatypes */

/* common media features */
/* orientation max-height min-height height max-width min-width width */

/* Syntax */
/* @media not|only mediatype and (media feature) and (media feature) {
  CSS-Code;
} */
.wrapper {
    overflow: auto;
}

#main {
    margin-left: 4px;
}

#leftsidebar {
    float: none;
    width: auto;
}

#menulist {
    margin: 0;
    padding: 0;
}

.menuitem {
    background: #CDF0F6;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    list-style-type: none;
    margin: 4px;
    padding: 2px;
}

@media screen and (min-width: 480px) {
    #leftsidebar {
        width: 200px;
        float: left;
    }

    #main {
        margin-left: 216px;
    }
}

* {
    box-sizing: border-box;
}

/* Style the body */
body {
    font-family: Arial;
    margin: 0;
}

/* Header/logo Title */
.header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
}

/* Style the top navigation bar */
.navbar {
    display: flex;
    background-color: #333;
}

/* Style the navigation bar links */
.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

/* Change color on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Column container */
.row {
    display: flex;
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}

/* Main column */
.main {
    flex: 70%;
    background-color: white;
    padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {

    .row,
    .navbar {
        flex-direction: column;
    }
}

@media only screen and (orientation: landscape) {
    body {
        background-color: lightblue;
    }
}

/* Resize the browser window. When the width of this document is larger than the height, the background color is "lightblue", otherwise it is "lightgreen". */

/* You can also use the (max-width: ..) and (min-width: ..) values to set a minimum width and a maximum width. */
@media screen and (max-width: 1500px) and (min-width: 600px) {
    div.example {
        font-size: 50px;
        padding: 50px;
        border: 8px solid black;
        background: yellow;
    }
}