/* A navigation bar is basically a list of links */

/* Basic vertical navigation bar*/
/* you can use sticky with position:fixed */
div {
    height: 500px;
    width: 100%;
}

.nav1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: grey;
    position: fixed;
    overflow: auto;
}

.nav1 li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
.nav1 li a:hover {
    background-color: #555;
    color: white;
}

.nav1 .active {
    background-color: #04AA6D;
    color: white;
}

/* There are two ways to create a horizontal navigation bar. Using inline or floating list items. */
.nav2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav2 li {
    float: left;
}

.nav2 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.nav2 li a:hover {
    background-color: #111;
}

.nav2 .active {
    background-color: #04AA6D;
}
/* you can use fixed for horizontal navbar at the top */
.nav2 ul {
    position: sticky;
    top: 250px;
    width: 100%;
}