/* z-index */
/* specifies the stack order of an element */
/* z-index only works on positioned elements (position: absolute, position: relative, position: fixed, or position: sticky) */
.img1 {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.container {
    position: relative;
    border: 1px solid green;
}

.black-box {
    position: relative;
    z-index: 1;
    border: 2px solid black;
    height: 100px;
    margin: 30px;
}

.gray-box {
    position: absolute;
    z-index: 3;
    background: lightgray;
    height: 60px;
    width: 70%;
    left: 50px;
    top: 50px;
}

.green-box {
    position: absolute;
    z-index: 2;
    background: lightgreen;
    width: 35%;
    left: 270px;
    top: 0px;
    height: 100px;
}

/* overflow */
/* overflow:visible bydefault */
/* overflow property only works for block elements with a specified height */
.overflow1 {
    background-color: coral;
    width: 200px;
    height: 65px;
    border: 1px solid;
    overflow: visible;
}

/* the overflow is clipped, and the rest of the content is hidden */
.overflow2 {
    background-color: coral;
    width: 200px;
    height: 80px;
    border: 1px solid;
    overflow: hidden;
}

/* this will add a scrollbar both horizontally and vertically (even if you do not need it) */
.overflow3 {
    background-color: coral;
    width: 200px;
    height: 75px;
    border: 1px solid;
    overflow: scroll;
}

/* auto value is similar to scroll, but it adds scrollbars only when necessary */
.overflow4 {
    background-color: coral;
    width: 200px;
    height: 65px;
    border: 1px solid;
    overflow: auto;
}

/* overflow-x and overflow-y properties specifies whether to change the overflow of content just horizontally or vertically (or both) */
.overflow5 {
    background-color: coral;
    width: 200px;
    height: 65px;
    border: 1px solid;
    overflow-x: hidden;
    overflow-y: scroll;
}

p {
    border: 4px solid black;
    overflow: auto;
    /* If a floated element is taller than the containing element, it will "overflow" outside of its container. 
    We can then add a overflow to solve this problem */
}

/* float bydefault none */
.img2 {
    float: left;
    padding: 5px;
}

.img3 {
    clear: left;
    float: right;
    padding: 5px;
}

/* When we use the float property, and we want the next element below (not on right or left), we will have to use the clear property */
/* clear -- left right or both (next element will be pushed down below these floated elements */
/* When clearing floats, you should match the clear to the float: If an element is floated to the left, then you should clear to the left. */
.div1 {
    float: left;
    padding: 10px;
    border: 3px solid #73AD21;
}

.div2 {
    padding: 10px;
    border: 3px solid red;
}

.div3 {
    float: left;
    padding: 10px;
    border: 3px solid #73AD21;
}

.div4 {
    padding: 10px;
    border: 3px solid red;
    clear: left;
}

/* you can add multiple box side by side */
* {
    box-sizing: border-box;
    /* box-sizing for add padding in elements width and height */
}

.box {
    float: left;
    width: 33.33%;
    padding: 25px;
}

/* you can add image side by side */
.img-container {
    float: left;
    width: 33.33%;
    padding: 5px;
}